
@{
    ViewBag.Title = "Confirmacion";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div style="background:#48C9B0;color:white;padding:25px;text-align:center">
    <img src="https://i.pinimg.com/474x/f4/ce/32/f4ce32b3f21f737463111c2599fa8cc6.jpg" />
    <h2>Envío Exitoso</h2>
    <h3>
        ¡Gracias por Confiar en nosotros!<br />
        Muy Pronto tendrás tu respuesta
    </h3>
    <div>
        @Html.ActionLink("Regresar", "Index")
    </div>
</div>




